@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&family=Trocchi&display=swap');

html {
    background-color: #ADD8E6;
    font-family: 'Teko', sans-serif;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
	font-family: 'Arial', sans-serif;
}

.page-content {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff; /* Ajout d'une couleur de fond pour .page-content */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Style de la section de présentation de l'image */
.presentation-image {
    text-align: center;
    margin-bottom: 20px;
}

.presentation-image img {
    max-width: 50%;
    max-height: 50%;
    height: auto;
    border-radius: 8px; /* Ajout d'une bordure arrondie à l'image */
}

/* Style de la section des réalisations */
.projects-section {
    background-color: #ADD8E6;
    padding: 30px;
    border-radius: 8px; /* Ajout d'une bordure arrondie à la section */
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: calc(50% - 20px); /* Deux projets par ligne */
    box-sizing: border-box;
}

/* Style des titres des projets */
.project h4 {
    color: #333;
}

/* Style des descriptions des projets */
.project .description {
    color: #666;
    margin-bottom: 10px;
}

/* Style des dates des projets */
.project .dates {
    color: #999;
    font-size: 14px;
}

.information-section {
    text-align: center;
}

.experience-section {
    margin-top: 20px;
    text-align: justify;
}

.experience-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.experience-description {
    margin-bottom: 10px;
}